{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('history') }}
{% endblock %}

{% block body %}
    {{ include('components/header.html.twig') }}
    <div id="history-container"
         data-week="{{ requestedWeek }}"
         data-current-week="{{ currentWeek }}"
         data-current-year="{{ currentYear }}"
         data-year="{{ requestedYear }}"
    ></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('history') }}
{% endblock %}
